name: "Build & Test"
on:
  workflow_call:
defaults:
  run:
    shell: bash
env:
  RUNNER_BIN_DIR: /home/runner/.local/bin
permissions:
  contents: write
  packages: read
  checks: write


jobs:

  build:
    name: "Build Node.js"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: "Clean install dependencies"
        run: npm ci

      - name: "Run npm build"
        run: npm run build

  integration-tests:
    name: "Integration Tests"
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Start cheqd localnet
        working-directory: localnet
        run:
          bash setup.sh

      - name: "Clean install dependencies"
        run: npm ci

      - name: Run Tests
        run: npm test

  import-tests:
    name: "Import Tests"
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Clean install dependencies
        run: npm ci

      - name: Run CJS import tests
        run: |
          npm run build
          mkdir -p import-tests
          cp -r build import-tests
          cp -r node_modules import-tests
          cd import-tests
          npm init -y
          echo "require('./build/cjs/index.js')" > index.js
          node index.js

