name: "Build & Test"
on:
  workflow_call:
defaults:
  run:
    shell: bash
env:
  RUNNER_BIN_DIR: /home/runner/.local/bin
permissions:
  contents: write
  packages: read
  checks: write


jobs:

  build:
    name: "Build Node.js"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: "Clean install dependencies"
        run: npm ci

      - name: "Run npm build"
        run: npm run build

  integration-tests-matrix-generator:
    name: Detect changes & generate matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          base: ${{ github.event.pull_request.base.sha }}
          filters: |
            esm: 'esm/**'
            cjs: 'cjs/**'

      - id: generate
        run: |
          MATRIX="[]"

          if [ "${{ steps.filter.outputs.esm }}" = "true" ]; then
            MATRIX=$(jq '. + [{"name":"esm","test_directory":"esm"}]' <<< "$MATRIX")
          fi

          if [ "${{ steps.filter.outputs.cjs }}" = "true" ]; then
            MATRIX=$(jq '. + [{"name":"cjs","test_directory":"cjs"}]' <<< "$MATRIX")
          fi

          echo "$MATRIX"

          {
            echo 'matrix<<EOF'
            echo "$MATRIX"
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  integration-tests:
    name: Integration Tests (${{ matrix.name }})
    runs-on: ubuntu-latest
    needs: [build, integration-tests-matrix-generator]
    if: false

    env:
      ORACLE_TESTS: "DIDModule|DID Key Operations|OracleModule|ResourceModule"

    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.integration-tests-matrix-generator.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Start cheqd localnet
        working-directory: localnet
        run:
          bash setup.sh

      - name: "Clean install dependencies"
        run: npm ci

      - name: Run oracle independent tests
        working-directory: ${{ matrix.test_directory }}
        run: npm run test -- --testNamePattern="^(?!${ORACLE_TESTS})"
      
      - name: Wait for WMA calculation
        working-directory: localnet
        shell: bash
        run: |
          set -euo pipefail

          WAIT_TIME=240 # seconds
          INTERVAL=20

          echo "Waiting for WMA to be available..."

          while ! docker compose exec cheqd cheqd-noded q oracle wma CHEQ >/dev/null 2>&1; do
            if [ "$WAIT_TIME" -le 0 ]; then
              echo "Unable to compute WMA within timeout"
              exit 1
            fi

            sleep "$INTERVAL"
            WAIT_TIME=$((WAIT_TIME - INTERVAL))
          done

      - name: Run oracle dependent tests
        working-directory: ${{ matrix.test_directory }}
        run: npm run test -- --testNamePattern="(${ORACLE_TESTS})"

  import-tests:
    name: "Import Tests"
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Clean install dependencies
        run: npm ci

      - name: Run CJS import tests
        run: |
          npm run build
          mkdir -p import-tests
          cp -r build import-tests
          cp -r node_modules import-tests
          cd import-tests
          npm init -y
          echo "require('./build/cjs/index.js')" > index.js
          node index.js

