name: "Build & Test"
on:
  workflow_call:
defaults:
  run:
    shell: bash
env:
  RUNNER_BIN_DIR: /home/runner/.local/bin
permissions:
  contents: write
  packages: read
  checks: write


jobs:

  build:
    name: "Build Node.js"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: "Clean install dependencies"
        run: npm ci

      - name: "Run npm build"
        run: npm run build

  integration-tests:
    name: Integration Tests (${{ matrix.name }})
    runs-on: ubuntu-latest
    needs: build

    env:
      ORACLE_TESTS: "DIDModule|DID Key Operations|OracleModule|ResourceModule"

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Non-Oracle
            test_pattern: "^(?!${ORACLE_TESTS})"
            needs_oracle_wait: false

          - name: Oracle
            test_pattern: "(${ORACLE_TESTS})"
            needs_oracle_wait: true


    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Start cheqd localnet
        working-directory: localnet
        run:
          bash setup.sh

      - name: "Clean install dependencies"
        run: npm ci

      - name: Wait for WMA calculation
        working-directory: localnet
        if: matrix.needs_oracle_wait
        shell: bash
        run: |
          set -euo pipefail

          WAIT_TIME=240 # seconds
          INTERVAL=20

          echo "Waiting for WMA to be available..."

          while ! docker compose exec cheqd cheqd-noded q oracle wma CHEQ >/dev/null 2>&1; do
            if [ "$WAIT_TIME" -le 0 ]; then
              echo "Unable to compute WMA within timeout"
              exit 1
            fi

            sleep "$INTERVAL"
            WAIT_TIME=$((WAIT_TIME - INTERVAL))
          done

      - name: Run ems package tests
        working-directory: esm
        run: npm run test -- --testNamePattern="${{ matrix.test_pattern }}"

      - name: Run cjs package tests
        working-directory: cjs
        run: npm run test -- --testNamePattern="${{ matrix.test_pattern }}"


  import-tests:
    name: "Import Tests"
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Clean install dependencies
        run: npm ci

      - name: Run CJS import tests
        run: |
          npm run build
          mkdir -p import-tests
          cp -r build import-tests
          cp -r node_modules import-tests
          cd import-tests
          npm init -y
          echo "require('./build/cjs/index.js')" > index.js
          node index.js

