name: "Release"
on:
  workflow_call:
defaults:
  run:
    shell: bash

jobs:
  release:
    name: "Semantic Release"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      
      - name: "Obtain Github App token"
        id: app-token
        uses: getsentry/action-github-app-token@v1.0.6
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: "Clean install dependencies"
        run: npm install
        env:
          NPM_GITHUB_PAT: ${{ secrets.NPM_GITHUB_PAT }}

      - name: "Run npm build"
        run: npm run build

      - name: "Execute Semantic Release"
        run: npx semantic-release
        env:
          NPM_GITHUB_PAT: ${{ secrets.NPM_GITHUB_PAT }}
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
